.btn {
    font-weight: 500;
    font-size: 1rem;
    border-radius: 8px;
    width: 256px;
    height: 48px;
}
.primary-btn{
    color: white;
    background-color: #B10F36;
}
.secondary-btn{
    color: #3B3A45;
    background-color: rgba(202, 202, 214, 0.12);

}