label{
    font-size: 0.875rem;
    font-weight: 700;
    color: #3B3A45;
    margin-bottom: 8px;
}
input{
    height: 56px;
    max-width: 648px;
}
span{
    display: flex;
}
.eye-btn{
    background-color: white;
    border: 1px solid #ced4da;
    border-left: 0px;
}