.main{
    background-color: #F9F8FF;
}
.login-wrapper{
    padding: 24px;
    
}
.input{
    margin-bottom: 35px;
}
h2{
    font-weight: 500;
    font-size: 20px;
    margin: 35px 0px 32px 0px;
}
p{
    color: #575768;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 32px;
    cursor: pointer;
}

@media only screen and (min-width: 576px){
    .login-wrapper{
        padding: 155px;
    }
}